body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4 {
    margin: 0;
}

/* header */
.kepala-halaman {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(228, 228, 228);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    margin: 0;
    width: 200px;
}
.menu-navigasi a {
    margin-inline: 30px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.menu-navigasi a:hover{
    padding: 20px;
    background-color: #18a558;
    color: #ffffff;
    transition: .5s;
    border-radius: 10px;
}
.tombol-ppdb{
    padding: 15px;
    background-color: #18a558;
    border-radius: 10px;
}
/*  */
.teks {
    flex: 1; 
    text-align: left; 
}

.bagian-utama img {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
    border-radius: 10px; 
}

.bagian-utama {
    text-align: center;
    padding: 60px 20px;
    margin: 0 auto; 
    /* background-color: #E6F7E6; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px; 
}
.teks h2{
    color: #18a558;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}
.teks p {
    margin-bottom: 25px;
    font-size: 18px;
   
}
.tombol-aksi {
    display: flex;
    flex-direction: column;
    width: 100% ;
    gap: 15px; 
    justify-content:center;
    align-items: baseline;
}
.tombol-aksi a {
    margin: 0;
    padding: 10px 20px;
    background-color: #18a558;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    transition: padding .5s ease; 
}

.tombol-aksi a:hover {
    background-color: #18a558;
    color: #ffffff;
    padding: 15px 25px; 
}

/* Program Keahlian */
.program-keahlian {
    padding: 40px 20px;
    text-align: center;
}

.kotak-program {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
    margin: 20px 0;
}

.program {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 230px;
    height: 100px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    transition: padding .5s ease; 
}
.program img {
    width: 3o%; 
    margin-right: 10px;
    text-align: left;
}
.program h2 {
    font-size: 25px;
    color: #18a558; 
    margin-left: 15px;
}

.program:hover {
    background-color: #ffffff;
    color: #ffffff;
    padding: 25px; 
}

/* untuk deksripsi atas dan deksripsi bawah  */
.deskripsi-atas,
.deskripsi-bawah {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

/*  untuk deksripsi atas */
.deskripsi-jurusan-atas{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;    
}

.deskripsi-content-atas {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
   
    width: 90%; 
    max-width: 1200px; 
}

.program-image {
    max-width: 50%;
    border-radius: 10px;
}

.description h3 {
    color: #18a558;
    margin-bottom: 10px;
    font-size: 25px;
}
.description p{
    font-size: 20px;
}
.description ul {
    padding-left: 50px;
    font-size: 20px;

}

.description ul li {
    margin-bottom: 5px;
}

/*  untuk deksripsi  bawah */
.jurusan {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.deskripsi-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    
    width: 90%; 
    max-width: 1200px; 
}

.program-description2 {
    order: 1; 
}

.program-image2 {
    order: 2;  
    max-width: 50%;
    border-radius: 10px;
}

.program-description2 h3 {
    color: #18a558;
    margin-bottom: 10px;
    font-size: 25px;
}
.program-description p{
    font-size: 20px;
}
.program-description ul {
    padding-left: 50px;
    font-size: 20px;
}

.program-description ul li {
    margin-bottom: 5px;
}


/* Mitra Akademik */
.mitra{
    text-align: left; 
    margin-left: 20px; 
}


.mitra h3 {
    margin-bottom: 20px;
    color: #18a558;
    text-align: left; 
    margin-left: 300px; 
    font-size: 25px;
}


.logo-nya {
    display: flex; 
    justify-content: center; 
    align-items: baseline; 
    flex-wrap: wrap; 
    gap: 30px;
    margin-block: 100px;
}

.logo-nya img {
    max-width: 200px; 
    height: auto; 
    margin-inline: 20px;
    align-items: baseline;
}
.logo-nya2{
    display: flex; 
    justify-content: center; 
    align-items: baseline; 
    flex-wrap: wrap; 
    gap: 30px;
    margin-block: 100px;
}
.logo-nya2 img{
    max-width: 285px; 
    height: auto; 
    margin-inline: 20px;
    align-items: baseline;
    
}
/* fasilitas */
.fasilitas-sekolah {
    padding: 40px 20px;
    text-align: center;
}
.fasilitas-sekolah h3{
    margin-bottom: 20px;
    color: #18a558;
    text-align: left; 
    margin-left: 300px; 
    font-size: 25px;
}
.kotak-fasilitas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
    margin: 20px 0;
}

.fasilitas-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 230px;
    height: 100px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    transition: padding .5s ease; 
}
.fasilitas-item img {
    width: 25%; 
    margin-right: 10px;
    text-align: left;
}
.fasilitas-item h2 {
    font-size: 25px;
    color: #18a558; 
    margin-left: 15px;
}

.fasilitas-item:hover {
    background-color: #ffffff;
    color: #ffffff;
    padding: 25px; 
}
/* Biaya Pendidikan */
.biaya-pendidikan{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.biaya-pendidikan h1{
    color: #18a558;
    text-align: center;
}

/* Table nyaa */
.kontainer-tabel {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
}

thead tr {
    background-color: #18a558;
    color: #fff;

}

th, td {
    padding: 20px 20px;
    
}

tbody tr:nth-child(odd) {
    background-color: #d5ffe8;
}

/* Note nyaa */
.catatan {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin: 10px 0;
}

/* Keterangan  */
.keterangan {
    margin-top: 20px;
}

.penjelasan h2 {
    margin-bottom: 20px;
    color: #18a558;
}

.penjelasan ol {
    padding-left: 20px;
    margin: 0;
    font-size: 20px;
}

.penjelasan ul {
    padding-left: 35px;
    padding-block: 28px;
    list-style: disc;
    font-size: large;
    
}

.penjelasan li {
    margin-bottom: 10px;
}

/* Footer */
.daftar-sekarang {
    position: relative;  
    text-align: center;
    color: #000000;
    padding: 90px 20px;
    overflow: hidden;  
}
.daftar-sekarang h2{
    color: #18a558;
    font-weight: bold;
    font-size: 25px;
}
.daftar-sekarang p{
    font-size: 20px;
    margin-block: 40px;
}
.daftar-sekarang .latar-belakang {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://smkmadinatulquran.sch.id/wp-content/uploads/2020/09/axio.jpg') no-repeat center center/cover;
    opacity: 0.2;  
    z-index: -1; 
}

.daftar-sekarang .konten {
    position: relative; 
    z-index: 1;  
}

.btn-daftar-sekarang{
    text-decoration: none;
    background-color: #18a558;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.btn-daftar-sekarang:hover {
    background-color: #145c3a;
}

.footer-sekolah {
    background:url(https://smkmadinatulquran.sch.id/wp-content/uploads/2021/08/topography-pattern-1.png);
    background-color: #18a558;
    padding: 40px 20px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-bagian{
    flex: 1;
    min-width: 250px;
}

.footer-bagian kontak h3 {
    font-size: 25px;
    margin-bottom: 10px;

}

.footer-bagian kontak p {
    margin: 5px 0;
    font-size: 18px;
    
}

.footer-bawah {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
/* responsiv */
/* Tablet dan Ponsel (≤ 768px) */
@media (max-width: 760px) {
    
    .kotak-program {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
  
    .mitrah3{
        text-align: center;
        margin: 0 auto;
    }
    .fasilitas-sekolah h3{
        text-align: center;
        margin: 0 auto;
    }
    .menu-navigasi a {
        margin-inline: 15px;
        font-size: 16px;
    }

    .bagian-utama {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }

    .teks h2 {
        font-size: 28px;
    }

    .teks p {
        font-size: 16px;
    }

    .bagian-utama img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .kotak-fasilitas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .program,
    .fasilitas-item{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .program2 h2{
        text-align: center;
    }
    .program,
    .fasilitas-item{
        text-align: left;
    }
    .program img,
    .fasilitas-item img {
        width: 40%;
        height: auto;
        margin-bottom: 10px;
    }
    .description, .program-description2 {
        text-align: left;
    }
    .deksripsi-atas, .deksripsi-bawah, .jurusan, .deskripsi-content-atas{
        text-align: left;
        align-items: flex-start;
    }
    .logo-mitra, .logo-mitra2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
    .mitra img{
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }
    .deskripsi-content,
    .deskripsi-content-atas{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .deksripsi-jurusan img,
    .deksripsi-jurusan-atas img {
        width: 100%;
        margin: 10px auto;
    }

    .footer-container {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 20px;   
        padding: 20px;
    }
    .footer-bagian h3 {
        font-size: 16px; 
    }
    .footer-bagian p {
        font-size: 12px; 
    }
    .footer-bagian {
        text-align: left;
    }
}

/* Ponsel Kecil (≤ 480px) */
@media (max-width: 48opx) {
    body {
        font-size: 8px;
    }
    .teks h2 {
        font-size: 20px;
    }
    .teks p {
        font-size: 14px;
    }
    .footer-section h3 {
        font-size: 16px;
    }
    .footer-bagian p {
        font-size: 12px;
    }
    .kotak-fasilitas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .program,
    .fasilitas-item{
        width: 70%;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .fasilitas-item h2{
        text-align: center;
    }
    .program,
    .fasilitas-item{
        text-align: left;
    }

    .mitra h3{
        text-align: center;
        margin: 0 auto;
    }
    .footer-sekolah{
        text-align: center;
        margin: 0 auto;
    }
    
    

    .bagian-utama {
        padding: 20px 10px;
        gap: 15px;
    }

    .teks h2 {
        font-size: 24px;
    }

    .teks p {
        font-size: 14px;
    }

    .bagian-utama img {
        width: 100%;
        height: auto;
    }

    .program img,
    .fasilitas-item img {
        width: 40%;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-sekolah {
        padding: 20px;
    }

    .footer-bagian h3 {
        font-size: 14px;
    }

    .footer-bagian p {
        font-size: 10px;
    }
    .footer-container {
        text-align: left;
        font-size: 14px;
        padding: 10px;

    }
}